html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid blue;
}

.center {
  display: flex;
  justify-content: center;
}

footer {
  position: sticky;
  top: 100vh;
  border: 1px solid red;
}
